{% extends 'base.html' %}
{% block title %}List of Students{% endblock title %}
{% load static %}

{% block content %}
    {% if perms.view_student %}
    <link rel="stylesheet" href="{% static 'css/student_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
          integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous"/>

    <div style="margin-bottom: 20px">
        <div class='col'>
            <div class="col-md-3 offset-md-4">
                <form method="GET">
                    {{ my_filter.form }}
                    <div class='offset-md-5' style="margin-top: 10px;">
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container mt-3 mb-4">
        <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="row">
            {% if perms.student.view_student %}
                <div class="col-md-12">
                    <div class="align-content-center" style="margin-bottom:10px">
                        <a href="{% url 'create-student' %}" class="btn btn-success">Add a new Student</a>
                    </div>
                {% endif %}
                    <div class="user-dashboard-info-box table-responsive mb-0 bg-transparent p-4 shadow-sm">

                        <table class="table manage-candidates-top mb-0">
                            <thead>
                            <tr>
                                <th>Student Name</th>
                                <th class="text-center">Age</th>
                                <th class="text-center">Assigned Proffesor</th>
                                <th class="action text-right">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for student in all_students %}
                                <tr class="candidates-list">
                                    <td class="title">
                                        <div class="thumb">
                                            <img class="img-fluid"
                                                 src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                                        </div>
                                        <div class="candidate-list-details">
                                            <div class="candidate-list-info">
                                                <div class="candidate-list-title">
                                                    <h5 class="mb-0 text-light"><a
                                                            href="#">{{ student.first_name }} {{ student.last_name }}</a>
                                                    </h5>
                                                </div>
                                                <div class="candidate-list-option">
                                                    <ul class="list-unstyled">
                                                        <li><i class="fas fa-filter pr-1"></i>Age: {{ student.age }}
                                                        </li>
                                                        <li><i class="fas fa-map-marker-alt pr-1"></i>Assigned
                                                            Proffesor: {{ student.teacher.first_name }} {{ student.teacher.last_name }}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="candidate-list-favourite-time text-center">
                                        <a class="candidate-list-favourite order-2 text-danger" href="#"><i
                                                class="fas fa-heart"></i></a>
                                        <span class="candidate-list-time order-1">{{ student.age }}</span>
                                    </td>
                                    <td class="candidate-list-favourite-time text-center">
                                        <a class="candidate-list-favourite order-2 text-danger" href="#"><i
                                                class="fas fa-address-card"></i></a>
                                        <span class="candidate-list-time order-1">{{ student.teacher.first_name }} {{ student.teacher.last_name }}</span>
                                    </td>
                                    <td>
                                        <ul class="list-unstyled mb-0 d-flex justify-content-end">
                                            <li><a href="{% url 'detail_student' student.id %}" class="text-primary"
                                                   data-toggle="tooltip" title="" data-original-title="view"><i
                                                    class="far fa-eye"></i></a></li>
                                            <li><a href="{% url 'update_student' student.id %}" class="text-info"
                                                   data-toggle="tooltip" title="" data-original-title="Edit"><i
                                                    class="fas fa-pencil-alt"></i></a></li>
                                            <li><a href="{% url 'delete_student' student.id %}" class="text-danger"
                                                   data-toggle="tooltip" title="" data-original-title="Delete"><i
                                                    class="far fa-trash-alt"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="text-center mt-3 mt-sm-3">
                            <ul class="pagination justify-content-center mb-0">
                                <li class="page-item disabled"><span class="page-link">Prev</span></li>
                                <li class="page-item active" aria-current="page"><span class="page-link">1 </span> <span
                                        class="sr-only">(current)</span></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">...</a></li>
                                <li class="page-item"><a class="page-link" href="#">25</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}
