{% extends 'base.html' %}
{% block title %}Update Teacher{% endblock title %}
{% load static %}

{% block content %}
    {% if perms.change_teacher %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <div class = 'row'>
    <div class="row col-md-6 offset-md-3">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit Update</button>
    </form>
    </div>
    </div>
    {% endif %}
{% endblock content %}

